<h1>Stupid Coaching</h1>
<form id=ask-form action="/answer" method="get">
  <label for="name">Ask your coach anything:</label><br>
  <input type="text" name="question" placeholder="Tell your coach something !">
  <input type="submit" value="Ask!">
</form>