// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: sans-serif;
}

#ask-form {
  height: 40px;
  border-radius: 50%;
}

.question{
  background-color: blue;
}
